{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}


{% block content %}
<style type="text/css">
	input[type="text"],input[type="password"]{
		padding-bottom: 10px;
		font-size: 17px;
	}
	
		.lead{
		
		font-size: 17px;
		font-weight: bolder

}
.title{
	background-color: purple;
	color: white;
	padding: 5px;
}

</style>

<center>
	
<center><p class="lead"> <a href="{% url 'register' %}" style="color: purple;"></a></p><center>	<center><h1 class="title">Lecturer Login</h1></center>
	<br>
<br>
	 
<form method="POST">
	{% csrf_token %}
	<label>Username</label>
   <input type="text" name="username">
   <br>
   <br>
   <label>Password</label>
   <input type="password" name="password">
   <br>
   <br>

   <input type="submit" name="submit" value="login">

</form>
 </div>
</center>
<br>
<br>
<br>
{% endblock %}